openapi: 3.0.3

info:
  title: HOLibrary API
  version: "1.0.0"
  description: |
    Online library management system for **Hezekiah Oluwasanmi Library**,
    Obafemi Awolowo University, Ile-Ife.

    Group 4 · SEN 106 / SEN 216, Introduction to Web Technologies

    ## What this API is

    A modernised Online Public Access Catalogue with an integrated circulation
    module, for a **physical** library. It answers *does HOL have this book, is a
    copy free, where is it* and records *who holds which copy, from when, until
    when*. No book content is stored or served.

    ## Two ideas that shape every endpoint

    **A book is not a copy.** A `book` is bibliographic, one title, one call
    number, shared by all its volumes. A `copy` is one physical object with its
    own **accession number**, unique across the whole collection. Five copies of
    *Clean Code* are one book and five copies.

    **Availability and overdue are derived, never stored.** There is no
    `available_copies` field in the database and no `is_overdue` column. Both are
    computed on read, so neither can drift out of step with reality.

    ## Membership begins in the building

    There is **no registration endpoint**, by design. At HOL a user presents an
    identity card and signs a register; a librarian then creates the account.
    The member receives a single-use password-setup link by email, and no
    password is sent or returned by the API.

    ## Time

    Every timestamp is **RFC 3339 in UTC**. The server generates all event times;
    a client-supplied timestamp is never trusted. Convert to `Africa/Lagos` for
    display only.

    ## Response shape

    Success and failure each have exactly one shape. `error.code` is stable and
    machine-readable; `error.message` is written for a person and safe to display.
  contact:
    name: Group 4
  license:
    name: MIT

servers:
  # Production first, so "Try it out" reaches the running service rather than a
  # machine the reader does not have.
  - url: https://api.library.appmd.dev/api/v1
    description: Production
  - url: https://holibrary-api.onrender.com/api/v1
    description: Production, direct to the origin (bypasses Cloudflare)
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Authentication
    description: Sign in, sessions, password management.
  - name: Catalogue
    description: Books and their bibliographic records. Search is public.
  - name: Inventory
    description: Physical copies. Librarian only.
  - name: Circulation
    description: Borrowing and returns, recorded by staff at the desk.
  - name: My account
    description: A member's own record. Identity comes from the token.
  - name: Members
    description: The member roll. Librarian only.
  - name: Administration
    description: Dashboard and audit trail.
  - name: System
    description: Health.

security:
  - bearerAuth: []

paths:
  /healthz:
    get:
      tags: [System]
      summary: Health check
      description: Returns service status and verifies that the backend can reach its database.
      security: []
      servers:
        - url: https://api.library.appmd.dev
          description: Production
        - url: https://holibrary-api.onrender.com
          description: Production, direct to the origin
        - url: http://localhost:8080
          description: Local development
      responses:
        "200":
          description: Service and database are reachable.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [status, service, database]
                    properties:
                      status: { type: string, example: ok }
                      service: { type: string, example: holibrary-backend }
                      database: { type: string, example: reachable }
        "503":
          description: The database is unreachable.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/login:
    post:
      tags: [Authentication]
      summary: Sign in
      description: |
        Accepts a matriculation number, a staff number, or an email address in
        the `login` field, members are told to use whichever they remember.

        Rate limited to 5 attempts per minute per client IP.

        If `must_change_password` is true the returned access token is
        **restricted**: every route except `/auth/change-password` and
        `/auth/logout` returns `MUST_CHANGE_PASSWORD` until the password is
        changed.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, password]
              properties:
                login:
                  type: string
                  example: SWE/2025/001
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Signed in
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Session'
        "400": { $ref: '#/components/responses/ValidationFailed' }
        "401":
          description: |
            Incorrect credentials. The response is identical whether the account
            does not exist or the password is wrong, so this endpoint cannot be
            used to discover which matriculation numbers are registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "403": { $ref: '#/components/responses/MemberNotActive' }
        "429": { $ref: '#/components/responses/RateLimited' }

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Exchange a refresh token for a new session
      description: |
        The presented refresh token is **consumed** as part of the exchange and a
        new one is issued. Rotating on every use means a stolen token is good for
        at most one call.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: New session issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Session' }
        "401": { $ref: '#/components/responses/TokenInvalid' }
        "429": { $ref: '#/components/responses/RateLimited' }

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Sign out
      description: |
        Revokes the refresh token. The access token is left to expire on its own
        (15 minutes), the trade-off that comes with stateless access tokens, and
        the reason they are short-lived.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "401": { $ref: '#/components/responses/Unauthenticated' }

  /auth/change-password:
    post:
      tags: [Authentication]
      summary: Change your own password
      description: |
        Requires the current password, so a borrowed unlocked laptop is not
        enough to take over an account.

        **Every other session for this account is revoked.** Changing a password
        is how someone reacts to a suspected compromise; if old refresh tokens
        kept working it would achieve nothing.

        This is the one route available to an account still holding a
        librarian-issued temporary password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: { type: string, format: password }
                new_password:
                  type: string
                  format: password
                  description: At least 10 characters, with a letter and a number.
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "422": { $ref: '#/components/responses/PasswordTooWeak' }

  /auth/forgot-password:
    post:
      tags: [Authentication]
      summary: Request a password reset link
      description: |
        **Always returns 202**, whether or not the address belongs to a member.
        Reporting "no such account" would let anyone test addresses against the
        member roll, a real privacy leak, given that a borrowing history is a
        record of what a named student reads.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "202": { $ref: '#/components/responses/StatusOK' }
        "429": { $ref: '#/components/responses/RateLimited' }

  /auth/reset-password:
    post:
      tags: [Authentication]
      summary: Complete a password reset
      description: |
        The token is single-use and expires after 30 minutes. Only its hash is
        stored, so a leaked database yields no usable reset link. Completing a
        reset revokes every existing session for the account.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token: { type: string }
                new_password: { type: string, format: password }
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "401": { $ref: '#/components/responses/TokenInvalid' }
        "422": { $ref: '#/components/responses/PasswordTooWeak' }

  /webhooks/resend:
    post:
      tags: [Webhooks]
      summary: Receive verified Resend delivery events
      description: Verifies Svix headers before processing email.sent, email.delivered, email.opened, email.bounced, email.complained, and email.failed events.
      security: []
      responses:
        "204": { description: Event accepted }
        "401": { description: Invalid webhook signature }

  /books/new-arrivals:
    get:
      tags: [Catalogue]
      summary: Browse new physical arrivals
      description: Ordered by cataloguing creation time descending. Archived titles are excluded.
      security: []
      parameters:
        - { $ref: '#/components/parameters/cataloguePage' }
        - { $ref: '#/components/parameters/cataloguePerPage' }
      responses:
        "200":
          description: Physical catalogue titles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Book' }
                  meta: { $ref: '#/components/schemas/Meta' }
        "400": { $ref: '#/components/responses/ValidationFailed' }

  /books/{id}/related:
    get:
      tags: [Catalogue]
      summary: Find related physical titles
      description: Shared subjects rank before shared authors. The current title and archived titles are excluded. A missing or archived source title returns an empty list.
      security: []
      parameters:
        - { $ref: '#/components/parameters/id' }
        - { name: per_page, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 6 } }
      responses:
        "200":
          description: Physical catalogue titles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Book' }
        "400": { $ref: '#/components/responses/ValidationFailed' }

  /catalogue/facets:
    get:
      tags: [Catalogue]
      summary: Browse public catalogue filter values and title counts
      description: Only nonempty values attached to non-archived physical titles are returned. Counts represent titles, not copies or member affiliations.
      security: []
      responses:
        "200":
          description: Public catalogue facets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CatalogueFacets' }
        "400": { $ref: '#/components/responses/ValidationFailed' }

  /me/saved-searches:
    post:
      tags: [My account]
      summary: Save a catalogue search
      description: Member only. Owner comes exclusively from the Bearer token. At most 20 saved searches per member. No notifications are sent.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewSavedSearch' }
      responses:
        "201":
          description: Search saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SavedSearch' }
        "400": { $ref: '#/components/responses/ValidationFailed' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409":
          description: The member already has 20 saved searches (SAVED_SEARCH_LIMIT_REACHED).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    get:
      tags: [My account]
      summary: List your saved searches
      description: Member only. Returns only searches owned by the Bearer token's member; there is no owner selector.
      responses:
        "200":
          description: Your saved searches
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SavedSearch' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "403": { $ref: '#/components/responses/Forbidden' }

  /me/saved-searches/{id}:
    delete:
      tags: [My account]
      summary: Delete your saved search
      description: Member only. Missing searches and another member's searches both return NOT_FOUND.
      parameters: [{ $ref: '#/components/parameters/id' }]
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "400": { $ref: '#/components/responses/ValidationFailed' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }

  /books:
    get:
      tags: [Catalogue]
      summary: Search the catalogue
      description: |
        **Public.** The catalogue is public information, exactly as the shelves
        are; nothing personal is reachable here.

        The `title`, `author` and `subject` parameters are the three access
        points the card catalogue has always provided, and the ones HOL's own
        OPAC searches. `q` is a weighted full-text search across all three, 
        a title match outranks an author match, which outranks a subject match.

        All filters are optional and combined. Empty, unknown, repeated, or invalid
        parameters return 400 VALIDATION_FAILED; year_from must not exceed year_to.
        Boolean filters accept true/false and legacy 1/0. Both available and
        borrowable test whether a circulating copy can leave after server-side
        final-copy retention, preserving existing availability semantics. False
        selects the inverse condition. Use on_shelf in results for shelf presence.
        newest/oldest sort by publication year (year_desc/year_asc are aliases);
        use new-arrivals for cataloguing time.
        Archived titles are excluded.

        Every result carries its derived **wing** and **availability**, so a
        reader knows both whether to come in and which way to walk.
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string, minLength: 1, maxLength: 500 } }
        - { name: title, in: query, schema: { type: string, minLength: 1, maxLength: 200 } }
        - { name: author, in: query, schema: { type: string, minLength: 1, maxLength: 200 } }
        - { name: subject, in: query, schema: { type: string, minLength: 1, maxLength: 200 } }
        - { name: isbn, in: query, schema: { type: string, minLength: 1, maxLength: 200 } }
        - { name: call_number, in: query, schema: { type: string, minLength: 1, maxLength: 200 } }
        - { name: class, in: query, schema: { type: string, minLength: 1, maxLength: 1, pattern: "^[A-Za-z]$" } }
        - { name: faculty, in: query, schema: { type: string, minLength: 1, maxLength: 200 } }
        - { name: department, in: query, schema: { type: string, minLength: 1, maxLength: 200 } }
        - { name: language, in: query, schema: { type: string, minLength: 1, maxLength: 200 } }
        - { name: wing, in: query, schema: { type: string, enum: [South, North, Unknown] } }
        - { name: available, in: query, schema: { type: boolean } }
        - { name: borrowable, in: query, schema: { type: boolean } }
        - { name: year_from, in: query, schema: { type: integer, minimum: 1, maximum: 9999 } }
        - { name: year_to, in: query, schema: { type: integer, minimum: 1, maximum: 9999 } }
        - { name: sort, in: query, schema: { type: string, enum: [relevance, title, newest, oldest, year_desc, year_asc], default: relevance } }
        - { $ref: '#/components/parameters/cataloguePage' }
        - { $ref: '#/components/parameters/cataloguePerPage' }
      responses:
        "200":
          description: Matching titles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Book' }
                  meta: { $ref: '#/components/schemas/Meta' }
        "400": { $ref: '#/components/responses/ValidationFailed' }
    post:
      tags: [Catalogue]
      summary: Add a bibliographic record
      description: |
        Librarian only. The call number must be a **Library of Congress** class
        mark, HOL classifies with LCC, not Dewey, so a bare Dewey number such as
        `005.133` is rejected as a data-entry mistake.

        This creates the *title*, not any physical volume. Add copies separately.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewBook' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Book' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "422": { $ref: '#/components/responses/InvalidCallNumber' }

  /books/lookup:
    get:
      tags: [Catalogue]
      summary: Look a book up in an external catalogue
      description: |
        Librarian only. Pre-fills a cataloguing form from openlibrary.org so the
        librarian does not retype what is printed on the title page.

        **This creates nothing.** What comes back is a *suggestion*: title,
        author, ISBN, publisher, year. Whether HOL holds the book, in how many
        volumes, on which shelf, and who has one, is answered only from our own
        database. An external catalogue knowing a book exists says nothing about
        whether this library owns a copy.

        A title with no external record is **not an error**: `results` is simply
        empty. Africana, OAU Publications and older Nigerian imprints are largely
        absent from public catalogues and are catalogued by hand.

        If the external service is unreachable the endpoint returns
        `502 CATALOGUE_UNAVAILABLE`, and cataloguing by hand continues to work.
        Our catalogue does not depend on theirs.
      parameters:
        - { name: isbn, in: query, schema: { type: string }, description: Exact lookup. Hyphens ignored. }
        - { name: q, in: query, schema: { type: string }, description: Free-text search, used when the ISBN is unreadable. }
      responses:
        "200":
          description: Suggestions, possibly none
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items: { $ref: '#/components/schemas/ExternalBook' }
                      note: { type: string }
        "400": { $ref: '#/components/responses/ValidationFailed' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "502":
          description: The external catalogue could not be reached (`CATALOGUE_UNAVAILABLE`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /books/{id}:
    get:
      tags: [Catalogue]
      summary: One title, with its physical copies
      security: []
      parameters: [{ $ref: '#/components/parameters/id' }]
      responses:
        "200":
          description: The title and every volume of it the library holds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      book: { $ref: '#/components/schemas/Book' }
                      copies:
                        type: array
                        items: { $ref: '#/components/schemas/Copy' }
        "404": { $ref: '#/components/responses/NotFound' }


    patch:
      tags: [Catalogue]
      summary: Update bibliographic metadata (librarian or admin)
      description: |
        Requires a valid staff Bearer access token. Members receive 403;
        missing or invalid tokens receive 401. Updates only supplied metadata.
        Unknown or duplicate fields, null values, empty objects, and trailing
        JSON are rejected. Optional strings may be cleared with an empty string,
        and authors/subjects with an empty array. Title and call_number cannot
        be cleared. ISBN-10 and ISBN-13 checksums are validated; hyphens and
        spaces are removed, as for creation. A changed LCC call number updates
        the derived class and wing. No copy, accession, policy, loan, or
        reservation data can be edited here; copy edits use PATCH /copies/{id}.
        A patch containing identical normalized values is a no-op and leaves updated_at and audit unchanged.
        For changes, updated_at and BOOK_METADATA_UPDATED audit details (actor_id,
        entity_type book, entity_id, changed_fields) are written transactionally.
      parameters: [{ $ref: '#/components/parameters/id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BookMetadataPatch' }
      responses:
        "200":
          description: Book metadata updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Book' }
        "400": { $ref: '#/components/responses/ValidationFailed' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }

  /books/{id}/archive:
    post:
      tags: [Catalogue]
      summary: Archive a title
      description: |
        Removes the title from search **without deleting it**. Its loan history
        must survive: the library still has to be able to say who held a copy
        last session.
      parameters: [{ $ref: '#/components/parameters/id' }]
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }

  /books/{id}/copies:
    post:
      tags: [Inventory]
      summary: Register a physical volume
      description: |
        The **accession number** is the library's own per-item identifier,
        assigned when the volume arrives, and is unique across the entire
        collection, not per title. The call number it inherits from the book is
        shared by every copy.
      parameters: [{ $ref: '#/components/parameters/id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accession_number]
              properties:
                accession_number: { type: string, example: HOL-748211 }
                loan_policy:
                  $ref: '#/components/schemas/LoanPolicy'
      responses:
        "201":
          description: Copy registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Copy' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409":
          description: That accession number already belongs to another volume.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /copies/lookup:
    get:
      tags: [Circulation]
      summary: What is this book in my hand?
      description: |
        Resolves the **accession number** printed on a volume, which is the
        only thing the circulation desk holds when a reader walks up.

        Both desk screens begin here, and the answer tells them apart: a copy
        that comes back carrying an open `loan` is one to receive, and a copy
        with `loan: null` is one to issue.

        The accession number is unique across the whole collection, which is
        what makes it usable as a single input. The call number is not: five
        copies of a title share one.

        **Staff only.** The reply names the member currently holding the copy.
      parameters:
        - in: query
          name: accession
          required: true
          schema: { type: string }
          example: HOL-748211
      responses:
        "200":
          description: The copy, what it is a copy of, and who has it
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      copy: { $ref: '#/components/schemas/Copy' }
                      book_title: { type: string }
                      call_number: { type: string }
                      loan:
                        nullable: true
                        allOf: [{ $ref: '#/components/schemas/Loan' }]
                        description: Null when the copy is on the shelf.
        "403": { $ref: '#/components/responses/Forbidden' }
        "404":
          description: No copy carries that accession number
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /copies/{id}:
    patch:
      tags: [Inventory]
      summary: Change a copy's status or loan policy
      description: |
        Status changes follow a **state machine**. Only these moves are legal:

        ```
        available ──▶ lost / damaged / withdrawn
        on_loan   ──▶ lost / damaged        (closes the open loan)
        lost      ──▶ available / withdrawn (found)
        damaged   ──▶ available / withdrawn (repaired)
        withdrawn ──▶ (terminal)
        ```

        A borrowed copy **cannot** be set back to `available` here: that would
        abandon its open loan and show a book on the shelf that a student still
        holds. Lending is not a status edit, it goes through `POST /loans`.

        Marking a borrowed copy `lost` or `damaged` **closes its loan and writes
        an audit entry in the same transaction**, so a librarian never has to
        record a fake return in order to write down a real loss.

        The loan policy of a copy that is currently out cannot be changed.
      parameters: [{ $ref: '#/components/parameters/id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { $ref: '#/components/schemas/CopyStatus' }
                loan_policy: { $ref: '#/components/schemas/LoanPolicy' }
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409":
          description: The copy is on loan and cannot be changed (`COPY_ON_LOAN`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "422":
          description: Illegal state transition (`INVALID_STATUS_CHANGE`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /loans:
    get:
      tags: [Circulation]
      summary: List loans
      description: Librarian only. `overdue=true` implies open loans, a returned book is never overdue.
      parameters:
        - { name: overdue, in: query, schema: { type: boolean } }
        - { name: open, in: query, schema: { type: boolean } }
        - { $ref: '#/components/parameters/page' }
        - { $ref: '#/components/parameters/perPage' }
      responses:
        "200":
          description: Loans
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Loan' }
                  meta: { $ref: '#/components/schemas/Meta' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Circulation]
      summary: Record a borrowing
      description: |
        **Librarian only.** The member is named in the body; the librarian comes
        from the token. A member can no more issue a book to themselves here than
        they could at the Loans desk.

        The due date is computed from the member's category, the client does not
        choose it:

        | Category | Limit | Period |
        |---|---|---|
        | undergraduate | 2 | 14 days |
        | postgraduate | 4 | 21 days |
        | staff | 6 | 28 days |

        **Last-copy retention.** A title held in **two or more** circulating
        copies always keeps one on the shelf, so a reader who walks in can still
        consult it. Lending the last free copy of such a title is refused with
        `LAST_COPY_RETAINED`. A title held in a **single** copy circulates
        normally, retaining it would mean nobody could ever read it.

        This is library policy, configured in one place, not a rule taken from
        the LIB 001 course material.

        **Concurrency.** Two librarians can issue the last copy at the same
        instant. The copy is claimed with a single atomic statement whose
        condition carries the availability check, so there is no window between
        checking and taking. The loser receives `409 COPY_NOT_AVAILABLE`. A
        partial unique index on open loans makes a double loan unstorable even if
        the application were wrong.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [copy_id, member_id]
              properties:
                copy_id: { type: string, format: uuid }
                member_id: { type: string, format: uuid }
      responses:
        "201":
          description: Loan recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Loan' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409":
          description: |
            `COPY_NOT_AVAILABLE`, already on loan, or another request won the race.
            `COPY_NOT_BORROWABLE`, a reference, display or restricted volume.
            `LAST_COPY_RETAINED`, the title's last shelf copy is kept in the library.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "422":
          description: |
            `LOAN_LIMIT_REACHED`, the member's category limit is reached.
            `MEMBER_NOT_ACTIVE`, suspended or inactive.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /loans/{id}/return:
    post:
      tags: [Circulation]
      summary: Record a return
      description: |
        Closes the loan and restores the copy to the shelf. The loan is **not**
        deleted, the library must still be able to say who held this copy.
        Returning twice is impossible: the update requires the loan to still be
        open.
      parameters: [{ $ref: '#/components/parameters/id' }]
      responses:
        "200":
          description: Returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Loan' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409":
          description: That loan has already been returned (`LOAN_ALREADY_CLOSED`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /me/loans:
    get:
      tags: [My account]
      summary: Books you currently hold
      description: |
        The member is taken from the **token**, never from the URL. There is no
        id to tamper with, so one member cannot read another's record.
      responses:
        "200":
          description: Open loans, with due dates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Loan' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "403": { $ref: '#/components/responses/MustChangePassword' }
    post:
      tags: [My account]
      summary: Borrow an available copy yourself
      description: |
        An active signed-in member may borrow one available circulating copy.
        The member is derived exclusively from the bearer token; `member_id`,
        `user_id`, matriculation numbers, staff numbers and due dates are not
        accepted in the request. The server computes the due date from the
        member category and performs the copy claim, limit check, reservation
        fulfillment and audit event in one transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [copy_id]
              additionalProperties: false
              properties:
                copy_id: { type: string, format: uuid }
      responses:
        "201":
          description: Loan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Loan' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "403": { $ref: '#/components/schemas/Error' }
        "404": { $ref: '#/components/schemas/Error' }
        "409": { $ref: '#/components/schemas/Error' }
        "422": { $ref: '#/components/schemas/Error' }

  /me/history:
    get:
      tags: [My account]
      summary: Everything you have ever borrowed
      description: History survives return. A returned loan is a closed record, not a deleted one.
      responses:
        "200":
          description: Full borrowing history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Loan' }
        "401": { $ref: '#/components/responses/Unauthenticated' }

  /me/bookmarks:
    get:
      tags: [Bookmarks]
      summary: Titles the signed-in member has saved
      description: |
        A member's own reading list, newest first.

        There is deliberately **no endpoint that reads another member's
        bookmarks**, and no librarian view of them. What somebody is thinking
        of reading is their business, and the cheapest way to guarantee that is
        to build no way to ask.
      security: [{ bearerAuth: [] }]
      parameters:
        - { in: query, name: page, schema: { type: integer, default: 1 } }
        - { in: query, name: per_page, schema: { type: integer, default: 20 } }
      responses:
        '200':
          description: The member's saved titles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        book: { $ref: '#/components/schemas/Book' }
                        saved_at: { type: string, format: date-time }
                  meta: { $ref: '#/components/schemas/Meta' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /bookmarks:
    post:
      tags: [Bookmarks]
      summary: Save a title
      description: |
        Adds a title to the signed-in member's list.

        A bookmark is an interest in a **title**, never a claim on a copy. It
        reserves nothing, joins no queue and changes no availability figure.
        That is the whole difference from a reservation.

        Saving the same title twice succeeds and changes nothing, so a client
        need not check first. The response is `204` rather than `201` because
        a status promising "created" would sometimes be untrue.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [book_id]
              properties:
                book_id: { type: string, format: uuid }
      responses:
        '204': { description: The title is saved }
        '400': { $ref: '#/components/responses/ValidationFailed' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookmarks/{bookID}:
    delete:
      tags: [Bookmarks]
      summary: Remove a saved title
      description: |
        Addressed by **book** id, not bookmark id: a reader looking at a title
        knows its id and should not have to fetch their whole list to find the
        row that points at it.

        Removing a title that was not saved succeeds. The caller asked for it
        not to be saved, and it is not.
      security: [{ bearerAuth: [] }]
      parameters:
        - { in: path, name: bookID, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: The title is not saved }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /me/reservations:
    get:
      tags: [My account]
      summary: Your place in each queue
      description: |
        Open reservations only. `queue_position` is **computed at read time**: a
        stored position would go stale the moment anyone ahead of you cancelled.
      responses:
        "200":
          description: Your reservations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Reservation' }
        "401": { $ref: '#/components/responses/Unauthenticated' }

  /me/devices:
    post:
      tags: [My account]
      summary: Register this device for push notifications
      description: |
        The owner is taken from the token. Registering a device against another
        account would send that person a stranger's due dates.

        The registration token is unique across the whole system, not per user:
        when one student signs out of a shared library terminal and another signs
        in, the device moves to the new owner rather than leaving the previous
        member receiving notifications about someone else's books.

        A push fans out to **every** device a member has registered, phone,
        laptop and library terminal, because a due-date reminder should not
        depend on which one they happen to be holding.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, description: FCM registration token. }
                platform: { type: string, enum: [web, android, ios], default: web }
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
    delete:
      tags: [My account]
      summary: Detach a device on sign-out
      description: |
        Call this when signing out. Otherwise a student who leaves a shared
        library terminal keeps receiving notifications about their books on a
        machine somebody else is now using.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "401": { $ref: '#/components/responses/Unauthenticated' }

  /reservations:
    post:
      tags: [My account]
      summary: Join the queue for a title
      description: |
        Members place their **own** reservations, the member comes from the
        token, never from the body. Unlike borrowing, joining a queue commits
        nothing physical, so there is no reason to walk to the library to do it.

        Refused when:

        * **a copy is on the shelf** (`COPIES_AVAILABLE`), you would be told to
          wait for a book the library has;
        * **nothing about the title is reservable** (`NOT_RESERVABLE`), 
          reference and restricted volumes never leave the building, so there is
          no queue to join;
        * **you are already queued** for it (`ALREADY_RESERVED`).

        When a copy is returned the member at the head of the queue is marked
        `ready` and notified by push and email, and has **3 days** to collect it
        before the hold passes to the next person.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [book_id]
              properties:
                book_id: { type: string, format: uuid }
      responses:
        "201":
          description: Queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Reservation' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "409":
          description: "`COPIES_AVAILABLE` or `ALREADY_RESERVED`."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "422":
          description: The title cannot be reserved (`NOT_RESERVABLE`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /reservations/{id}:
    delete:
      tags: [My account]
      summary: Give up your place in a queue
      description: |
        Ownership is part of the query rather than a check afterwards, so
        guessing another member's reservation id achieves nothing.
      parameters: [{ $ref: '#/components/parameters/id' }]
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "404": { $ref: '#/components/responses/NotFound' }

  /members:
    get:
      tags: [Members]
      summary: Search the member roll
      parameters:
        - { name: q, in: query, schema: { type: string }, description: Matches name, identifier or email. }
        - { $ref: '#/components/parameters/page' }
        - { $ref: '#/components/parameters/perPage' }
      responses:
        "200":
          description: Members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/User' }
                  meta: { $ref: '#/components/schemas/Meta' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Members]
      summary: Register a member
      description: |
        Performed at the desk after the applicant presents their identity card.

        The member receives a single-use password-setup link by email. No
        password or setup token is returned in the API response.

        **Role.** A librarian may create members only. Creating a `librarian` or
        `admin` account requires an administrator, the role is checked against
        the caller's own role from the token, never trusted from the body.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewMember' }
      responses:
        "201":
          description: Member registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      member: { $ref: '#/components/schemas/User' }
                      invitation_email_queued: { type: boolean }
        "403":
          description: Not permitted to create an account of that role (`FORBIDDEN`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "409":
          description: That matriculation number or email is already registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /members/import:
    post:
      tags: [Members]
      summary: Bulk-register members from a CSV
      description: |
        Upload a spreadsheet export as multipart form field `file` (max 8 MB).

        **Preview first.** With `dry_run=true` the file is parsed and validated
        and the same summary is returned, but **nothing is written**. Fix the
        rows the summary names, then post again to commit.

        Expected header, in any order, common aliases are accepted
        (`student_id`, `matric_no`, `identifier`):

        ```csv
        student_id,first_name,last_name,email,department,level
        SWE/2025/001,Feranmi,Oresajo,feranmi@oauife.edu.ng,Software Engineering,200
        ```

        A bad row never aborts the batch. Every row is reported by line number as
        `valid`, `created`, `duplicate` or `invalid`. Duplicates are detected both
        **within the file** and against the database, so re-importing last
        session's roll is routine rather than an error.

        Imported rows are always members; a CSV can never introduce staff.
      parameters:
        - { name: dry_run, in: query, schema: { type: boolean }, description: Validate and report without writing. }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        "200":
          description: Import summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ImportResult' }
        "400":
          description: The header could not be understood, or the upload was too large.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "403": { $ref: '#/components/responses/Forbidden' }

  /members/{id}:
    get:
      tags: [Members]
      summary: A member and their full borrowing record
      description: Librarian only. A member reads their own record through `/me/history`.
      parameters: [{ $ref: '#/components/parameters/id' }]
      responses:
        "200":
          description: Member and history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      member: { $ref: '#/components/schemas/User' }
                      history:
                        type: array
                        items: { $ref: '#/components/schemas/Loan' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }

  /members/{id}/status:
    patch:
      tags: [Members]
      summary: Suspend or reactivate a member
      description: A suspended member cannot sign in and cannot borrow.
      parameters: [{ $ref: '#/components/parameters/id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [active, suspended, inactive] }
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }

  /members/{id}/role:
    patch:
      tags: [Administration]
      summary: Change a member's authorization role
      description: |
        Administrator only. Changes are audited, and the last administrator cannot
        be demoted. When changing to member, supply category if the account has
        no existing borrowing category (accounts created as librarian/admin
        normally do not have one). An existing category is preserved when omitted.
        Category may only be supplied with role member. Successful role/category
        changes invalidate existing sessions; the affected user must sign in again.
      parameters: [{ $ref: '#/components/parameters/id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [role]
              properties:
                role: { type: string, enum: [member, librarian, admin] }
                category:
                  type: string
                  enum: [undergraduate, postgraduate, staff]
                  description: Required when changing to member without an existing borrowing category.
            example: { role: member, category: undergraduate }
      responses:
        "200": { $ref: '#/components/responses/StatusOK' }
        "400":
          description: Invalid role, request shape, or category (INVALID_MEMBER_CATEGORY).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { $ref: '#/components/responses/Unauthenticated' }
        "422":
          description: NO_CATEGORY. Supply category because the account has no existing borrowing category. No change was made.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409":
          description: The change would remove the last administrator.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/dashboard:
    get:
      tags: [Administration]
      summary: Library at a glance
      responses:
        "200":
          description: Counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      books: { type: integer, example: 1240 }
                      copies: { type: integer, example: 3187 }
                      members: { type: integer, example: 812 }
                      active_loans: { type: integer, example: 194 }
                      overdue: { type: integer, example: 23 }
                      invitation_statuses: { type: object, additionalProperties: { type: integer } }
        "403": { $ref: '#/components/responses/Forbidden' }

  /admin/audit:
    get:
      tags: [Administration]
      summary: Trail of staff actions
      description: |
        **Administrator only.** The log records which librarian lent what to which
        named student, so it is more sensitive than the data it describes.
      parameters:
        - { $ref: '#/components/parameters/page' }
        - { $ref: '#/components/parameters/perPage' }
      responses:
        "200":
          description: Audit entries, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEntry' }
                  meta: { $ref: '#/components/schemas/Meta' }
        "403": { $ref: '#/components/responses/Forbidden' }

  /admin/invitations:
    get:
      tags: [Administration]
      summary: List invitation delivery statuses
      parameters:
        - { name: status, in: query, schema: { type: string } }
        - { name: batch_id, in: query, schema: { type: string, format: uuid } }
        - { $ref: '#/components/parameters/page' }
        - { $ref: '#/components/parameters/perPage' }
      responses:
        "200":
          description: Invitation delivery records without setup tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/InvitationDelivery' }
                  meta: { $ref: '#/components/schemas/Meta' }
        "403": { $ref: '#/components/responses/Forbidden' }

  /admin/members/{id}/invitation:
    post:
      tags: [Administration]
      summary: Resend a member invitation
      description: Invalidates all previous setup links before queueing a new invitation email.
      parameters: [{ $ref: '#/components/parameters/id' }]
      responses:
        "202": { $ref: '#/components/responses/StatusOK' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        `Authorization: Bearer <access_token>` from `/auth/login`.

        Access tokens last 15 minutes. Refresh tokens last 7 days, are stored
        hashed, and are rotated on every use.

  parameters:
    cataloguePage:
      name: page
      in: query
      schema: { type: integer, minimum: 1, maximum: 1000000, default: 1 }
    cataloguePerPage:
      name: per_page
      in: query
      description: Invalid limits are rejected with VALIDATION_FAILED.
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    id:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: per_page
      in: query
      description: Clamped to 100, so one request cannot ask for the whole collection.
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }

  responses:
    StatusOK:
      description: Done
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  status: { type: string }
    Unauthenticated:
      description: No valid access token (`UNAUTHENTICATED`, `TOKEN_INVALID`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Signed in, but not permitted (`FORBIDDEN`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    MustChangePassword:
      description: |
        The account still holds a librarian-issued temporary password and is
        confined to `/auth/change-password` until it is replaced
        (`MUST_CHANGE_PASSWORD`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    MemberNotActive:
      description: The membership is suspended or inactive (`MEMBER_NOT_ACTIVE`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TokenInvalid:
      description: The token is invalid, spent or expired (`TOKEN_INVALID`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: No such record (`NOT_FOUND`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationFailed:
      description: |
        The body could not be read or a field was unacceptable
        (`VALIDATION_FAILED`). Unknown JSON fields are **rejected**, not ignored,
        so a misspelled field is reported rather than silently dropped.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PasswordTooWeak:
      description: At least 10 characters, with a letter and a number (`PASSWORD_TOO_WEAK`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidCallNumber:
      description: Not a valid LCC class mark (`INVALID_CALL_NUMBER`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: More than 5 attempts in a minute from this IP (`RATE_LIMITED`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    CatalogueFacet:
      type: object
      required: [value, count]
      properties:
        value: { type: string }
        count: { type: integer, minimum: 0 }
    CatalogueFacets:
      type: object
      properties:
        subjects: { type: array, items: { $ref: '#/components/schemas/CatalogueFacet' } }
        authors: { type: array, items: { $ref: '#/components/schemas/CatalogueFacet' } }
        languages: { type: array, items: { $ref: '#/components/schemas/CatalogueFacet' } }
        publication_years: { type: array, items: { $ref: '#/components/schemas/CatalogueFacet' } }
        wings: { type: array, items: { $ref: '#/components/schemas/CatalogueFacet' } }
        faculties: { type: array, items: { $ref: '#/components/schemas/CatalogueFacet' } }
        departments: { type: array, items: { $ref: '#/components/schemas/CatalogueFacet' } }

    SavedSearchQuery:
      type: object
      additionalProperties: false
      description: The same optional filters as GET /books. Booleans and integers must be JSON primitives. Unknown fields and reversed year ranges are rejected.
      properties:
        q: { type: string, minLength: 1, maxLength: 500 }
        title: { type: string, minLength: 1, maxLength: 200 }
        author: { type: string, minLength: 1, maxLength: 200 }
        subject: { type: string, minLength: 1, maxLength: 200 }
        isbn: { type: string, minLength: 1, maxLength: 200 }
        call_number: { type: string, minLength: 1, maxLength: 200 }
        class: { type: string, minLength: 1, maxLength: 1, pattern: "^[A-Za-z]$" }
        faculty: { type: string, minLength: 1, maxLength: 200 }
        department: { type: string, minLength: 1, maxLength: 200 }
        language: { type: string, minLength: 1, maxLength: 200 }
        wing: { type: string, enum: [South, North, Unknown] }
        available: { type: boolean }
        borrowable: { type: boolean }
        year_from: { type: integer, minimum: 1, maximum: 9999 }
        year_to: { type: integer, minimum: 1, maximum: 9999 }
        sort: { type: string, enum: [relevance, title, newest, oldest, year_desc, year_asc], default: relevance }
        page: { type: integer, minimum: 1, maximum: 1000000 }
        per_page: { type: integer, minimum: 1, maximum: 100 }
    NewSavedSearch:
      type: object
      additionalProperties: false
      required: [name, query]
      properties:
        name: { type: string, minLength: 1, maxLength: 100 }
        query: { $ref: '#/components/schemas/SavedSearchQuery' }
    SavedSearch:
      type: object
      additionalProperties: false
      required: [id, name, query, created_at]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        query: { $ref: '#/components/schemas/SavedSearchQuery' }
        created_at: { type: string, format: date-time }

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Stable and machine-readable. Switch on this.
              example: COPY_NOT_AVAILABLE
            message:
              type: string
              description: Written for a person. Safe to display; reveals nothing internal.
              example: That copy is already on loan.
            details: { type: object, nullable: true }

    Meta:
      type: object
      properties:
        page: { type: integer, example: 1 }
        per_page: { type: integer, example: 20 }
        total: { type: integer, example: 143 }

    Session:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        expires_in: { type: integer, description: Access token lifetime in seconds., example: 900 }
        must_change_password:
          type: boolean
          description: |
            When true the access token is restricted to `/auth/change-password`
            and `/auth/logout`.
        user: { $ref: '#/components/schemas/User' }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        identifier: { type: string, example: SWE/2025/001 }
        email: { type: string, format: email }
        full_name: { type: string, example: Feranmi Oresajo }
        role: { type: string, enum: [member, librarian, admin] }
        category:
          type: string
          nullable: true
          enum: [undergraduate, postgraduate, staff]
          description: Null for staff accounts. Determines borrowing entitlement.
        status: { type: string, enum: [active, suspended, inactive] }
        must_change_password: { type: boolean }

    NewMember:
      type: object
      required: [identifier, email, category]
      properties:
        identifier: { type: string, example: SWE/2025/001 }
        email: { type: string, format: email }
        full_name: { type: string, description: Or supply first and last name separately. }
        first_name: { type: string }
        last_name: { type: string }
        faculty: { type: string }
        department: { type: string, example: Software Engineering }
        level: { type: string, example: "200" }
        category: { type: string, enum: [undergraduate, postgraduate, staff] }
        role:
          type: string
          enum: [member, librarian, admin]
          default: member
          description: Anything other than `member` requires an administrator.

    Book:
      type: object
      description: Public physical-title metadata. Lowercase enriched metadata is omitted when unavailable; existing PascalCase fields remain compatible.
      properties:
        edition: { type: string }
        publication_year: { type: integer }
        publisher: { type: string }
        language: { type: string }
        description: { type: string }
        subjects: { type: array, items: { type: string } }
        created_at: { type: string, format: date-time }
        ID: { type: string, format: uuid }
        Title: { type: string, example: Clean Code }
        Subtitle: { type: string }
        ISBN13: { type: string }
        Publisher: { type: string }
        PublishedYear: { type: integer, nullable: true }
        CallNumber:
          type: string
          description: LCC class mark. **Shared by every copy of this title.**
          example: QA76.76 .M37
        LCCClass: { type: string, maxLength: 1, example: Q }
        Authors: { type: array, items: { type: string } }
        Subjects: { type: array, items: { type: string } }
        Availability: { $ref: '#/components/schemas/Availability' }
        wing:
          type: string
          enum: [South, North, Unknown]
          description: |
            **Derived** from the class mark, never stored. HOL shelves classes
            A-J in the South wing and K-Z in the North.
        is_available:
          type: boolean
          description: |
            Derived. True when a copy may actually be **taken away**: not
            merely when one sits on the shelf. A title whose only free copy is
            being retained reads as `false` here and `true` in `on_shelf`.
        borrowable:
          type: integer
          description: Copies that may leave the building, after last-copy retention.
          example: 4
        on_shelf:
          type: boolean
          description: A copy can be consulted in the library, even if none may be borrowed.
        shelf_copy_retained:
          type: boolean
          description: |
            True when this title's one remaining shelf copy is being held back
            under the retention policy. Use it to explain to a reader why a book
            that is present cannot be borrowed.

    BookMetadataPatch:
      type: object
      additionalProperties: false
      minProperties: 1
      description: All fields are optional; supplied null values are invalid. Validation is shared with book creation.
      properties:
        title: { type: string, minLength: 1, maxLength: 500 }
        subtitle: { type: string, maxLength: 500 }
        isbn13: { type: string, description: Valid ISBN-13 checksum and 978/979 prefix; hyphens and spaces removed. Empty clears the value. }
        isbn10: { type: string, description: Valid ISBN-10 checksum; hyphens and spaces removed. Final X is accepted. Empty clears the value. }
        publisher: { type: string, maxLength: 500 }
        place_of_publication: { type: string, maxLength: 500 }
        published_year: { type: integer, minimum: 1000, maximum: 2100, description: Must also be no later than the current year plus one. }
        call_number: { type: string, minLength: 1, maxLength: 200, description: Library of Congress classification mark; Dewey numbers are rejected., example: QA76.6 .I585 }
        edition: { type: string, maxLength: 200 }
        language: { type: string, maxLength: 200 }
        faculty: { type: string, maxLength: 200 }
        department: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 20000 }
        authors: { type: array, maxItems: 100, items: { type: string, minLength: 1, maxLength: 200 } }
        subjects: { type: array, maxItems: 100, items: { type: string, minLength: 1, maxLength: 200 } }

    NewBook:
      type: object
      required: [title, call_number]
      description: Bibliographic metadata with shared ISBN checksum, LCC, year, and field-length validation.
      properties:
        title: { type: string, minLength: 1, maxLength: 500 }
        subtitle: { type: string, maxLength: 500 }
        isbn13: { type: string, description: Valid ISBN-13 checksum and 978/979 prefix; hyphens and spaces removed. }
        isbn10: { type: string, description: Valid ISBN-10 checksum; hyphens and spaces removed. Final X is accepted. }
        publisher: { type: string, maxLength: 500 }
        place_of_publication: { type: string, maxLength: 500 }
        published_year: { type: integer, minimum: 1000, maximum: 2100, description: Must also be no later than the current year plus one. }
        call_number: { type: string, minLength: 1, maxLength: 200, description: Library of Congress classification mark; Dewey numbers are rejected., example: QA76.6 .I585 }
        edition: { type: string, maxLength: 200 }
        language: { type: string, maxLength: 200 }
        faculty: { type: string, maxLength: 200 }
        department: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 20000 }
        authors: { type: array, maxItems: 100, items: { type: string, minLength: 1, maxLength: 200 } }
        subjects: { type: array, maxItems: 100, items: { type: string, minLength: 1, maxLength: 200 } }

    ExternalBook:
      type: object
      description: |
        Bibliographic metadata from an external source. **Not** a holding: it
        carries no copy count, no availability and no shelf location, because an
        external catalogue cannot know any of those.
      properties:
        title: { type: string }
        subtitle: { type: string }
        authors: { type: array, items: { type: string } }
        isbn13: { type: string }
        isbn10: { type: string }
        publisher: { type: string }
        published_year: { type: integer }
        subjects: { type: array, items: { type: string } }
        source: { type: string, example: openlibrary.org }

    Availability:
      type: object
      description: |
        **Counted from copy states on every read.** There is no
        `available_copies` column: a stored counter is a second source of truth
        and drifts, and `available = -1` is unrepresentable rather than merely
        guarded against.
      properties:
        total_copies: { type: integer, example: 5 }
        available: { type: integer, example: 3 }
        on_loan: { type: integer, example: 2 }
        not_for_loan: { type: integer, description: Reference, display and restricted volumes., example: 0 }

    Copy:
      type: object
      description: One physical volume on a shelf.
      properties:
        ID: { type: string, format: uuid }
        BookID: { type: string, format: uuid }
        AccessionNumber:
          type: string
          description: |
            The library's own per-item identifier, **unique across the whole
            collection**. Three copies of a title carry three accession numbers
            and one shared call number.
          example: HOL-748211
        LoanPolicy: { $ref: '#/components/schemas/LoanPolicy' }
        Status: { $ref: '#/components/schemas/CopyStatus' }

    LoanPolicy:
      type: string
      enum: [circulating, reference_only, on_display, restricted]
      description: |
        Why a volume may or may not leave the building.

        * `circulating`, the main lending collection.
        * `reference_only`, Reference Room; consulted in place.
        * `on_display`, Recent Accessions; not borrowable, but reservable.
        * `restricted`, Africana, OAU Publications, Serials, Conservation.

    CopyStatus:
      type: string
      enum: [available, on_loan, lost, damaged, withdrawn]
      description: Transitions are constrained. See `PATCH /copies/{id}`.

    Loan:
      type: object
      description: |
        One custody event. Returning a book **closes** this record; it never
        deletes it.
      properties:
        id: { type: string, format: uuid }
        copy_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        member_name: { type: string }
        book_title: { type: string }
        accession_number: { type: string }
        borrowed_at: { type: string, format: date-time, example: "2026-09-03T18:15:00Z" }
        issued_at: { type: string, format: date-time, example: "2026-09-03T18:15:00Z" }
        due_at: { type: string, format: date-time, example: "2026-09-17T18:15:00Z" }
        returned_at: { type: string, format: date-time, nullable: true }
        status: { type: string, enum: [borrowed, returned, overdue] }
        is_overdue:
          type: boolean
          description: |
            **Computed from the clock on every read**, never stored. An
            `is_overdue` column would be correct only until the clock moved past
            the next due date.
        days_overdue: { type: integer }

    ImportResult:
      type: object
      properties:
        dry_run: { type: boolean }
        total_rows: { type: integer, example: 800 }
        valid: { type: integer, example: 775 }
        created: { type: integer, description: Always 0 on a dry run. }
        duplicate: { type: integer, example: 15 }
        invalid: { type: integer, example: 10 }
        rows:
          type: array
          items:
            type: object
            properties:
              line: { type: integer, description: Line number in the uploaded file. }
              identifier: { type: string }
              status: { type: string, enum: [valid, created, duplicate, invalid] }
              detail: { type: string }
              invitation_email_queued: { type: boolean, description: Whether the setup email was queued. }

    Reservation:
      type: object
      properties:
        id: { type: string, format: uuid }
        book_id: { type: string, format: uuid }
        book_title: { type: string }
        status:
          type: string
          enum: [pending, ready, fulfilled, cancelled, expired]
          description: |
            `pending`, waiting. `ready`, a copy is being held for you.
        queue_position:
          type: integer
          description: Computed on read; 1 means you are next.
          example: 2
        created_at: { type: string, format: date-time }
        expires_at:
          type: string
          format: date-time
          description: When a `ready` hold passes to the next member.

    AuditEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        actor_id: { type: string, format: uuid, nullable: true }
        actor_name: { type: string }
        action: { type: string, example: COPY_MARKED_lost }
        entity_type: { type: string, example: copy }
        entity_id: { type: string, format: uuid, nullable: true }
        metadata: { type: object }
        created_at: { type: string, format: date-time }

    InvitationDelivery:
      type: object
      properties:
        id: { type: string, format: uuid }
        member_id: { type: string, format: uuid }
        email: { type: string, format: email }
        outbox_id: { type: string, format: uuid }
        import_batch_id: { type: string, format: uuid, nullable: true }
        resend_message_id: { type: string }
        queued_at: { type: string, format: date-time }
        sent_at: { type: string, format: date-time, nullable: true }
        delivered_at: { type: string, format: date-time, nullable: true }
        opened_at: { type: string, format: date-time, nullable: true }
        bounced_at: { type: string, format: date-time, nullable: true }
        failure_reason: { type: string }
        status: { type: string, enum: [queued, sent, delivered, opened, bounced, complained, failed, superseded] }
